/* ADMIN AUTH LOGIN */
.btn-letsgo:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25) !important;
}

.fa-eye-slash {
    right: 30px;
}

#bg-login {
    background-image: url('../img/flower.png');
    /* opacity: 0.1; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 130px 100px;
    background-clip: border-box;
}

/* ADMIN SIDE BAR */
.app-sidebar-menu .menu>.menu-item.menu-border-nama {
    border-bottom: 1px dashed #33446c;
}

.table>thead>tr>th {
    border-bottom-width: 1px !important;
    font-size: 1em !important;
    font-weight: 500 !important;
}

table.dataTable.table-striped>tbody>tr.odd td:nth-child(1),
table.dataTable.table-striped>tbody>tr.even td:nth-child(1) {
    padding-left: 10px;
}

.hanaka-button {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.hanaka-back {
    font-size: 8px;
}

.toast-griya-title {
    color: white !important;
}

.btn-transaksi-active {
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(32, 43, 70);
    border-radius: 8px;
}

.btn-transkasi-nonactive {
    font-weight: bold;
    background-color: transparent;
    border: 2px solid rgb(176, 176, 176);
    border-radius: 8px;
}

.bg-transaksi {
    background-color: rgb(236, 236, 236);
}

@media (min-width: 768px) {
    .hanaka-back {
        font-size: 12px;
    }

    /* .table > thead > tr > th {
        font-size: 1.5em !important;
    } */
}

@media (min-width: 1200px) {
    .hanaka-button {
        height: 85px;
        width: 85px;
        border-radius: 10px;
        font-size: 10px;
    }
}

@media (min-width: 1400px) {
    .hanaka-button {
        height: 90px;
        width: 90px;
        border-radius: 10px;
        font-size: 12px;
    }
}